<table border=1>
  <tr>
    <th>Event id</th>
    <th>Recall#</th>
    <th>Initiaton Date</th>
    <th>Type</th>
    <th>Firm</th>
    <th>Report Date</th>
    <th>Classification</th>
    <th>Status</th>
  </tr>
<% $rubyObj['results'].each_with_index do |result, index| %>
  <% puts index %>
  <tr>
    <td><%= link_to result["event_id"], :controller => "enforcements", :action => "display", :eventId => index %></td>
    <td><%= result["recall_number"] %></td>
    <td><%= result["recall_initiation_date"] %></td>
    <td><%= result["product_type"] %></td>
    <td><%= result["recalling_firm"] %></td>
    <td><%= result["report_date"] %></td>
    <td><%= result["classification"] %></td>
    <td><%= result["status"] %></td>
  </tr>
<% end %>
</table>
