<div class="row">
	<div class="col-md-6 img-portfolio">
		<h2>Latest Adverse Events</h2>
		<table class="boxer">
			<thead >
				<tr class="box-row">
					<th class="box2">Date</th>
					<th class="box2">Manufacturer</th>
					<th class="box2">Device</th>
					<th class="box2">Event</th>
				</tr>
			</thead>
			<tbody>
				<% @advEvents.take(5).each_with_index do |result, index| %>
				<tr class="box-row1">
					<td class="box2"><%= result["date_of_event"] %></td>
					<td class="box2"><%= format_description(result["manufacturer_name"].titleize, 30) %></td>
					<td class="box2"><%= format_description(result["device"][0]["generic_name"].titleize, 20) %></td>
					<td class="box2"><%= result["event_type"] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "View More", "/enforcements/details", {:class => "button"} %><br>
		<%= line_chart "/enforcements/reportgroupbyyear?type=device", discrete: true %>
		<p>Total Adverse Events Reported by Year</p>
	</div>
	<div class="col-md-6 img-portfolio">
		<h2>Latest Enforcement Reports</h2>
		<table class="boxer">
			<thead class="box-row">
				<tr>
					<th class="box2">Date</th>
					<th class="box2">Manufacturer</th>
					<th class="box2">Status</th>
					<th class="box2">Classification</th>
				</tr>
			</thead>
			<tbody class="box-row1">
				<% @enfEvents.each_with_index do |result, index| %>
				<tr >
					<td class="box2"><%= result["recall_initiation_date"] %></td>
					<td class="box2"><%= result["recalling_firm"] %></td>
					<td class="box2"><%= result["status"] %></td>
					<td class="box2"><%= result["classification"] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "View More", "/enforcements/details", {:class => "button"} %><br>
		<%= line_chart "/enforcements/reportgroupbyyear?type=enf", discrete: true %>
		<p>Total Enforcement Reports Reported by Year</p>
	</div>
</div>