<h1>Enforcements !</h1>

<div id="myChart" style="height: 300px; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div><script type="text/javascript">
	loadChartData('https://api.fda.gov/device/event.json?count=date_received', "myChart");
</script>

<%= form_tag '/enforcements/retrieve' do %>
    <%=label_tag 'From' %>
    <%=text_field_tag 'From', @from%>

    <%=label_tag 'To' %>
    <%=text_field_tag 'To', @to%>

    <%=label_tag 'Limit' %>
    <%=text_field_tag 'Limit', @limit%>

    <div><%= submit_tag 'Get' %></div>
<% end %>
