<!-- Features Section -->
<div class="row">
	<div class="col-lg-12">
	</div>
	

 <!-- Projects Row -->
<div class="row">
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<h2>Latest Adverse Event</h2>
				<div class="boxer">
					<div class="box-row">
						<div class="box">Date </div>
						<div class="box">Location </div>
						<div class="box">Device</div>
						<div class="box">Event</div>
					</div>
			<% @advEvents.each_with_index do |result, index| %>
				<div class="box-row1">
					<div class="box"><%= result["date_of_event"] %></div>
					<div class="box"><%= result["event_location"] %></div>
					<div class="box"><%= result["device"][0]["model_number"] %></div>
					<div class="box"><%= result["event_type"] %></div>
				</div>
			<% end %>
			   </div>
			<%= link_to "Read More", "/enforcements/details", {:class => "button"} %><br>
			<%= line_chart "/enforcements/devicereport?type=device", discrete: true %>
			<h3>Graph showing Total Adverse Events Reported So Far Ordered by Years</h3>
		</div>
	</div>
            
            
	<div class="col-md-6 img-portfolio">
		<div class="contentsbox">
			<h2>Latest Enforcement Reports</h2>
				<div class="boxer">
							<div class="box-row">
								<div class="box">Date </div>
								<div class="box">Manufacturers </div>
								<div class="box">Device Type</div>
								
							</div>
					<% @enfEvents.each_with_index do |result, index| %>
						<div class="box-row1">
							<div class="box"><%= result["recall_initiation_date"] %></div>
							<div class="box"><%= result["recalling_firm"] %></div>
							<div class="box"><%= result["code_info"][0...10] %></div>
						</div>
					<% end %>
					</div>

					<%= link_to "Read More", "/enforcements/details", {:class => "button"} %><br>
					<%= line_chart "/enforcements/devicereport?type=enf", discrete: true %>
					<h3>Graph showing Total Enforcement Reports Reported So Far Ordered by Years</h3>

						</div>
		</div>
	</div>
</div>
<!-- /.row -->