<div class="row">
	<div class="col-md-6 img-portfolio">
		<h1>Latest Adverse Events</h1>
		<table class="boxer">
			<thead >
				<tr class="box-row">
					<th class="box-Date">Date</th>
					<th class="box-Manufac">Manufacturer</th>
					<th class="box-Device">Device</th>
					<th class="box-Event">Event</th>
				</tr>
			</thead>
			<tbody>
				<% @advEvents.take(5).each_with_index do |result, index| %>
				<tr class="box-row1">
					<td class="box-Date"><%= format_datestr(result["date_of_event"]) %></td>
					<td class="box-Manufac"><%= format_description(result["manufacturer_name"].titleize, 30) %></td>
					<td class="box-Device"><%= format_description(result["device"][0]["generic_name"].titleize, 20) %></td>
					<td class="box-Event"><%= result["event_type"] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "View More", "/enforcements/adveventsdetails", {:class => "button"} %><br>
		<%= line_chart "/enforcements/reportgroupbyyear?type=device", discrete: true %>
		<center><strong><p>Total Adverse Events Reported by Year</p></strong></center>
	</div>
	<div class="col-md-6 img-portfolio">
		<h1>Latest Enforcement Reports</h1>
		<table class="boxer">
			<thead class="box-row">
				<tr>
					<th class="box-Date">Date</th>
					<th class="box-Manufac2">Manufacturer</th>
					<th class="box-Device2">Status</th>
					<th class="box-Event">Classification</th>
				</tr>
			</thead>
			<tbody class="box-row1">
				<% @enfEvents.take(5).each_with_index do |result, index| %>
				<tr >
					<td class="box-Date"><%= format_datestr(result["recall_initiation_date"]) %></td>
					<td class="box-Manufac2"><%= format_description(result["recalling_firm"], 30).titleize %></td>
					<td class="box-Device2"><%= result["status"] %></td>
					<td class="box-Event"><%= result["classification"] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "View More", "/enforcements/enfdetails", {:class => "button"} %><br>
		<%= line_chart "/enforcements/reportgroupbyyear?type=enf", discrete: true %>
		<center><strong><p>Total Enforcement Reports Reported by Year</p></strong></center>
	</div>
</div>