<!DOCTYPE html>
<html>
<head>
  <title>Gsaads</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
  <script>
	function loadChartData(url, chartName, chartType){
		$.get(url, function(data, status){
			var categories = new Array();
			var groupedObjects = new Array();
			var i = 0;

			myobj = {};
			_.each(data.results,function(obj){
				var existingObj;
				var year = obj.time.substring(0, 4);
				if($.inArray(obj.time.substring(0, 4),categories) >= 0) {
					existingObj = _.find(data.results,function(o){return o.time.substring(0, 4) === obj.time.substring(0, 4); });
					existingObj.count += obj.count;
				} else {
					groupedObjects[i] = obj;
					categories[i] = obj.time.substring(0, 4);
					i++;
				}
			});
			_.each(groupedObjects, function(key, value) {
				myobj[key.time.substring(0, 4)] = key.count;
			});

			if(chartType == "pie") {
				new Chartkick.PieChart(chartName, myobj, {"discrete":true});
			} else if(chartType == "line") {
				new Chartkick.LineChart(chartName, myobj, {"discrete":true});
			} else {
				new Chartkick.LineChart(chartName, myobj, {"discrete":true});
			}
		});
	}
  </script>
  <% if content_for? :for_head %>
    <%= yield :for_head %>
  <% end %>
</head>
<body>
<div id="site-content">
		
<header class="site-header">
	<div class="top-header">
		<div class="container">
			
			
			<nav class="member-navigation pull-right"><a href="#"><em class="fa fa-user"></em> Your Location <strong>Vinna VA 22180</strong>&nbsp;&nbsp; </a>
			<input type="text" placeholder="Change Location"></nav> 
			<!-- .member-navigation -->
		</div> <!-- .container -->
	</div> <!-- .top-header -->

	<div class="bottom-header">
		<div class="container">
			<a href="index.html" class="branding pull-left">
				<img src="images/logo-icon.png" alt="Site title" class="logo-icon">
				<h1 class="site-title">Company <span>Name</span></h1> 
				<h2 class="site-description">Tagline goes here</h2>
			</a> <!-- #branding -->
			
			<nav class="main-navigation pull-right">
				<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
				<ul class="menu">
					<li class="menu-item"><a href="index.html">Home</a></li>
					<li class="menu-item"><a href="about-us.html">Story1</a></li>
					<li class="menu-item"><a href="services.html">Story2</a></li>
					<li class="menu-item"><a href="contact.html">Story3</a></li>
				</ul>
			</nav> <!-- .main-navigation -->
		</div> <!-- .container -->
	</div> <!-- .bottom-header -->
</header> <!-- .site-header -->

<%= yield %>

<footer class="site-footer wow fadeInUp">
	<div class="container">

		<div class="row">
			<div class="col-md-6">
				
				<div class=" branding">
					<img src="images/logo-footer.png" alt="Site title" class="logo-icon">
					<h1 class="site-title"><a href="#">Company <span>Name</span></a></h1> 
					<h2 class="site-description">Tagline goes here</h2>
				</div> <!-- .branding -->

				<p class="copy">Copyright 2015 Ace Info Solutions, Inc. All rights reserved</p>
			</div>
			
			<div class="col-md-6 align-right">
			
				<nav class="footer-navigation">
					<a href="#">Home</a>
					<a href="#">Story1</a>
					<a href="#">Story1</a>
					<a href="#">Story2</a>
				</nav> <!-- .footer-navigation -->
			
				
			
			</div>
		</div>

	</div>
</footer> <!-- .site-footer -->

</div> <!-- #site-content -->
</html>




