<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adverse Events & Enforcement Reports for Medical Devices</title>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
	<![endif]-->
	<%= stylesheet_link_tag    'bootstrap.min' %>
	<%= stylesheet_link_tag    'modern-business' %>
	<%= stylesheet_link_tag    'style' %>
	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "bootstrap.min" %>
	<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

<script>
(function($,sr){
  // debouncing function from John Hann
  // http://unscriptable.com/index.php/2009/03/20/debouncing-javascript-methods/
  var debounce = function (func, threshold, execAsap) {
      var timeout;

      return function debounced () {
          var obj = this, args = arguments;
          function delayed () {
              if (!execAsap)
                  func.apply(obj, args);
              timeout = null;
          };

          if (timeout)
              clearTimeout(timeout);
          else if (execAsap)
              func.apply(obj, args);

          timeout = setTimeout(delayed, threshold || 100);
      };
  }
  // smartresize 
  jQuery.fn[sr] = function(fn){  return fn ? this.bind('resize', debounce(fn)) : this.trigger(sr); };

})(jQuery,'smartresize');
</script>
<% if content_for? :for_head %>
	<%= yield :for_head %>
<% end %>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><img src="/assets/logo2.png" alt="Displaying Trends In Medical Device Safety"></a>
			</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<%= nav_link "Home", "/" %>
				<%= nav_link "Medical Devices", "/enforcements/devices?deviceType=AC%2BPOWERED%2BHOSPITAL%2BBED" %>
				<%= nav_link "Adverse Events", "/enforcements/advevents?startYear=2000&mfr=ABBOTT%2BLABORATORIES&deviceType=AC%2BPOWERED%2BHOSPITAL%2BBED" %>
				<%= nav_link "Enforcement Reports", "/enforcements/enfreports" %>
				<%= nav_link "About", "/enforcements/about" %>
		  </ul>
				</li>       
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
	<div class="item active">
		<div class="fill"></div>
		<div class="carousel-caption">
		</div>
	</div>
</header>

<!-- Page Content -->
<div class="container">

<%= yield %>

</div>
<!-- /.container -->
<!-- Footer -->
<footer>
	<div class="contatiner footer">
		<div class="col-lg-12">
			<p><center>Presented by <a href="http://www.aceinfosolutions.com" target="_blank"><u>Ace Info Solutions Inc.,</u></a> 2015<br>For GSA Agile Delivery Services (ADS I) BPA-FDA Prototype
			</center></p>
		</div>
	</div>
</footer>
</body>
</html>
